.navbar{
  width: 100%;
  background-color: #3D3028;
  height: 150px;
}

.img-logo{
  width: 130px;
}

.header-main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 150px;
  border-radius: 50px;
  
}
  
.menu-items {
  display: flex;
  align-items: center;
  padding: 0 7% 0 7%;
}

#msg-welcome {
  margin-left: 8%;
  color: white;
}

#exit {
  color: white;
  margin-left: auto;
  text-decoration: none;
}