/* form.css */
/* Estilo para centralizar o formulário */
body{
  background-color: rgb(228, 227, 227);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para espaçamento entre os inputs */
.input-group {
  margin-bottom: 1em;
}

/* Estilo para os inputs */
.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  width: 42vw;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  outline: none;
}

.textarea-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 42vw;
  height: 25vh;
  box-sizing: border-box;
  margin-top: 5%;
}

/* Estilo para o botão */
.submit-button {
  padding: 10px 20px;
  background-color: #3D3028;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 15px;
}

/* Estilo para o botão quando hover */
.submit-button:hover {
  background-color: rgb(100, 79, 68);
}

#content {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  height: 82vh;
  margin-bottom: 30px;
  border-radius: 40px;
  margin-top: 2.5%;
}

#msg {
  margin-left: 70px;
  padding: 50px 30px 30px 30px;
  font-size: 35px;
}

#contact-us {
  margin-left: 15%;
  font-size: 50px;
  margin-top: 1.5%;
}

.bi-arrow-left-short {
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}